DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_pass
DB_HOST=db_host
DB_PORT=5432

DEBUG=1
SECRET_KEY=secret_app_key

TG_API_ID=api_id_for_cliet
TG_API_HASH=hash_api_for_client
TG_BOT_TOKEN=bot_token
TG_USER_ID=user_to_receive_messages
TG_CONVERSATION_TIMEOUT=120

LLM_REQUEST_TIMEOUT=60.0
LLM_URL=url_for_ollama_server
LLM_PERIOD=15

HH_LOGIN=hh_login
HH_PASS=hh_password
HH_QUERIES=["https://hh.ru/search/vacancy?text=python&excluded_text=&salary=&salary=&currency_code=RUR&experience=doesNotMatter&employment_form=FULL&employment_form=PART&employment_form=PROJECT&accept_temporary=true&work_format=REMOTE&order_by=publication_time&search_period=3&items_on_page=50&L_save_area=true&hhtmFrom=vacancy_search_filter"]